<div id="sidebar-container" class="sidebar-container cnt">
  <div id="sidebar-search-box">
    <input [(ngModel)]="filterQuery" placeholder="&#x26B2; Filter" type="text" class="cnt2">
  </div>
  <div class="tabs">
    <button (click)="tabSwitch = false">History</button>
    <button (click)="tabSwitch = true">Collections</button>
  </div>
  <div *ngIf="!tabSwitch" class="content">
    <div *ngFor="let request of requests.reverse() | filter:filterQuery" class="content-item">
      <div class="action-img get">{{request.method}}</div>
      <span>{{request.date | date}}</span>
      <p (click)="onSelectRequest(request)">{{request.url}}</p>
      <div class="content-item-options">
        <button (click)="onAddToCollection(request)">+</button>
        <button (click)="onDeleteFromHistory(request)">X</button>
      </div>
    </div>
  </div>
  <div *ngIf="tabSwitch" class="content">
    <div *ngFor="let request of requestCollection.reverse() | filter:filterQuery" class="content-item">
      <div class="action-img get">{{request.method}}</div>
      <span>{{request.date | date}}</span>
      <p (click)="onSelectRequest(request)">{{request.url}}</p>
      <div class="content-item-options">
        <button (click)="onDeleteFromCollection(request)">X</button>
      </div>
    </div>
  </div>
</div>